seed: 42

dataset:
  robot_names:
    - 'allegro'
    - 'barrett'
    - 'shadowhand'
  batch_size: 32
  augment_ratio: 0.2  # fraction of batch that uses random joint angles

model:
  stage: 1
  vqvae_cfg:
    n_embeddings: 1024
    embedding_dim: 16
    num_point: 25
    num_dim: 64
    local_decode_pts: 40
    beta: 0.25
  vqvae_pretrain: 'ckpt/vqvae.ckpt'
  object_patch: 25
  max_link_node: 25
  robot_links:
    barrett: 10
    allegro: 21
    shadowhand: 17
  bps_config:
    bps_type: 'random_uniform'
    n_bps_points: 124
    radius: 1.0
    n_dims: 3
  N_t_training: 10
  flow_matching_config:
    M: 1000
    ode_steps: 50
    solver: 'euler'
  denoiser_config:
    t_embed_dim: 200
    V_object_dims: [3, 1, 64]
    V_robot_dims: [3, 3, 128]
    E_or_dims: [3, 3]
    E_rr_dims: [3, 3]
    v_conv_dim: 384
    e_conv_dim: 384
    num_layers: 6
    c_atten_head: 32
    v_out_hidden_dims: [256, 128]
    e_out_hidden_dims: [256, 128]
    se3_out_dim: [3, 3]
  inference_config: false
  palm_config:
    palm_link_names:
      allegro: 'base_link'
      barrett: 'bh_base_link'
      shadowhand: 'palm'
  embodiment:
    - 'allegro'
    - 'barrett'
    - 'shadowhand'
  mode: 'train'
  loss_config:
    trans_weight: 1.0
    rot_weight: 1.0

train:
  lr: 1.0e-4
  epochs: 800
  lr_step: 20
  lr_gamma: 0.8
  save_interval: 10
  save_dir: 'graph_exp/fm_stage1'
  project_name: 'trograsp-fm'
  experiment_name: 'fm_stage1'
  resume_from: null
  gpus: 8
  gradient_clip_val: 1.0
  precision: 32
